.columnas-1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 7%;
    text-align: center;
}

.columnas-2 {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    padding: 10%;
    text-align: center;
    background-color: #1D1D1D;
}

@media screen and (max-width: 600px) {
    .columnas-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1D1D1D;
        margin: auto;
    }
    .p{
        font-size: 14px;
        color: whitesmoke;
        max-width: 600px;
    }
} 


.h2 {
    font-size: 4rem;
    font-weight: 600;
    color: cyan;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.h1{
    font-size: 3rem;
    font-weight: 600;
    color: cyan;

    font-family: 'Roboto', sans-serif;
}

.img-1 {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    transition: 0.5s;
    animation: animacion 2s ease;
    text-align: center;


}

.img-1:hover {
    transform: scale(1.1);
}

@keyframes animacion {
    0% {
        transform: translateX(-400px);
    }

    50% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0px);
    }
}

.div-2 {
    background-color: #000000;
}
.p{
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Alkatra';
    margin-bottom: 10px;
}