.div-footer{
    background-color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
    padding: 7%;
    margin: auto;

    font-family: 'Alkatra';

}