/*parte del formulario para que se vea bien en movil y escritorio*/

.sphere-container {
    width: 400px;
    height: 400px;
    perspective: 1000px;
}

.sphere {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate-sphere 10s infinite linear;
}

.sphere-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

@keyframes rotate-sphere {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}