/*parte del formulario para que se vea bien en movil y escritorio*/
@font-face {
    font-family: 'Alkatra';
    src: url('../../fonts/Alkatra-VariableFont_wght.ttf') format('truetype');
}

.sphere-container {
    width: 400px;
    height: 400px;
    perspective: 1000px;
}

.sphere {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate-sphere 10s infinite linear;
}

.sphere-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

@keyframes rotate-sphere {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.p {
    font-size: 1rem;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Alkatra';
    margin-bottom: 10px;
}

.div-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
    background-color: #1D1D1D;
    padding: 7%;

}



.h2 {
    font-size: 4rem;
    font-weight: 600;
    color: cyan;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    .div-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        justify-items: center;
        background-color: #1D1D1D;
    }
    .p{
        font-size: 14px;
        color: whitesmoke;
        max-width: 600px;
    }
  
}